# --- Android Studio / Gradle ---
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/

# --- OpenEER : dossiers lourds ---
app/src/main/assets/vosk-small-fr/
app/src/main/assets/vosk-fr/
app/src/main/assets/models

# --- Logs & autres ---
*.log

app/src/main/assets/

# --- Local SDK ---
android_sdk/
